body.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
div.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
}
div.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
div.card-info {
    padding: 20px;
}
div.card-info h2 {
    margin-top: 0;
    text-align: center;
}
div.divider {
    width: 100px ;
    height: 1px;
    background-color: black;
    margin: auto;
}
div.card-info p {
    text-align: center;
    font-size: 20px;
}
div.card img:hover {
    width: 310px;
    height: 260px;
    transform: scale(1.1);
    transition: all 0.5s;
}